
table, td, th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    margin: 1em;
}

td {
    height: 2em;
    width: 2em;
    text-align: center;
    vertical-align: middle;
}
